<div class="card">
    <div class="card-body">
        <h3>About</h3>
        <div class="card-body">
            <p>Este proyecto fue desarrollado bajo un framework de JavaScript llamado Node.js.</p>
        </div>
        <div class="card-body">
            <p>La funcionalidad del proyecto es gestionar las notas de usuarios de manera privada, el cliente podrá registrase con su correo y contraseña para almacenar sus notas en la base de datos del sistema.</p>
        </div>
        <div class="card-body">
            <p>Se utilizan diferentes paquetes de Node.js para realizar diferentes funciones como el manejo de handlebars, manejo de sesiones y encriptación de las contraseñas.</p>
        </div>
    </div>
    <img src="/img/logo.png" class="rounded mx-auto d-block m-4 logo" alt="U Fidélitas">
</div>