<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatibus modi possimus aliquid voluptatem id cumque libero, ullam tempore enim corporis deleniti neque tempora magni! Provident, necessitatibus! Voluptatibus ut, mollitia beatae doloremque accusamus minima deserunt quisquam voluptatem quis at harum corporis alias impedit repellat, velit maiores eum architecto eos tenetur nihil pariatur repudiandae labore perspiciatis. Iste excepturi dicta ea fuga inventore necessitatibus nisi sapiente, alias architecto natus numquam minima neque veritatis sint delectus voluptatibus qui autem minus similique. Fugiat, eos.</p>
    </div>
</div>