<div class="jumbotron mt-4">
    <h1 class="display-4">
        Proyecto de Bases de Datos NOSQL
    </h1>
    <p>Kenndall Sancho</p>
    <hr>
    <p>Fabián Sánchez</p>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore deleniti fugiat inventore tenetur commodi iusto, blanditiis voluptas, animi perferendis modi natus magnam earum. At fuga ex pariatur doloremque, tenetur qui.</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">Google</a>
</div>